<!DOCTYPE html>
<html>
<head>
    <title>Food Data</title>
</head>
<body>
    <h1>Food Data</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Weight</th>
                <th>Calorie</th>
                <th>Carbohydrates</th>
                <th>Sugar</th>
                <th>Protein</th>
                <th>Fat</th>
                <th>Sodium</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.weight }}</td>
                <td>{{ item.calorie }}</td>
                <td>{{ item.carbohydrates }}</td>
                <td>{{ item.sugar }}</td>
                <td>{{ item.protein }}</td>
                <td>{{ item.fat }}</td>
                <td>{{ item.sodium }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>