<!-- templates/form.html -->

<!DOCTYPE html>
<html>
<head>
  <title>User Registration</title>
</head>
<body>
  <h3>회원가입</h3>
  <form method="POST" action="{% url 'register_user' %}">
    {% csrf_token %}

    <label for="age">나이:</label>
    <input type="number" name="age" id="age" required>

    <label for="gender">성별:</label>
    <select name="gender" id="gender" required>
      <option value="남성">남성</option>
      <option value="여성">여성</option>
    </select>

    <label for="username">아이디:</label>
    <input type="text" name="username" id="username" required>

    <label for="password">비밀번호:</label>
    <input type="password" name="password" id="password" required>

    <input type="submit" value="회원 가입">
  </form>

  {% if calorie %}
    <h3>결과:</h3>
    <p>칼로리: {{ calorie }}</p>
    <p>탄수화물: {{ carbohydrates }}</p>
    <p>단백질: {{ protein }}</p>
    <p>지방: {{ fat }}</p>
    <p>당: {{ sugar }}</p>
    <p>나트륨: {{ sodium }}</p>

    <a href="{% url 'nutrition_data_view' %}">새로운 검색</a>
  {% endif %}
</body>
</html>
