<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: INDEX Page :::</title>
</head>
<body>
    <h3> Html Page 입니다.</h3>
    <hr/>

    <a href="/">[인덱스 페이지로 가기]</a>
    <hr/>
    
    <h3>나이,성별에 따른 DB</h3>
    <hr/>
    * DB데이터 조회 : 
        <a href="/sprint/nutrition_data/">[바로가기]</a>
    <br/>
    <h3>음식영양 DB</h3>
    <hr/>
    * DB데이터 조회 : 
        <a href="/sprint/food_data/">[바로가기]</a>
    <h3> DB 검색</h3>
    <hr/>
    <br/>
    * DB데이터 검색 : 
        <a href="/sprint/nutrition_data/">[바로가기]</a>
    <br/>
    <br/>
    * 회원가입 : 
        <a href="/sprint/register_user/">[바로가기]</a>
    <br/>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</body>
</html>
