<!DOCTYPE html>
<html>
<head>
    <title>Nutrition Data</title>
</head>
<body>
    <h1>Nutrition Data</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Calorie</th>
                <th>Carbohydrates</th>
                <th>Protein</th>
                <th>Fat</th>
                <th>Sugar</th>
                <th>Sodium</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.age }}</td>
                <td>{{ item.gender }}</td>
                <td>{{ item.calorie }}</td>
                <td>{{ item.carbohydrates }}</td>
                <td>{{ item.protein }}</td>
                <td>{{ item.fat }}</td>
                <td>{{ item.sugar }}</td>
                <td>{{ item.sodium }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
