<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: Daily page :::</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        th {
            text-align: center;
        }
        td {
            padding: 8px;
            border: 1px solid #ddd;
            text-align: center;
        }
        .emoji-button {
            font-size: 30px; 
            background: none;
            border: none;
            cursor: pointer;
            text-decoration: none;
        }
        #chart {
            display: flex; 
            justify-content: center; 
            align-items: center; 
            width: 300px;
            height: 300px;
            margin: 0 auto; 
        }
        .button-and-status {
            display: flex;
            align-items: left;
        }
        .emoji-status {
            margin-left: auto;
            font-weight: bold;
            font-size: 20px; 
        }
        body {
            background-color: #EDEDED;
        }
        .welcome {
            color: #3498DB;
            font-weight: bold;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.1"></script>
</head>
</br>
<body>
    <div class="container"> 
<h1 class="display-1 text-center welcome">하루 결과</h1></br>
<div class="button-and-status">
    <button class="btn btn-secondary" style="background-color: #0871da;" onclick="gomenu()">확인</button>
    <div class="emoji-status">&#x1F628; : 부족 &#x1F60D; : 적정 &#x1F621; : 과다</div>
</div><br>
<table style="margin-left:auto; margin-right:auto;">
    <thead>
    <tr>
        <th>항목</th>
        <th>기준</th>
        <th>오늘 섭취량</th>
        <th>상태</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>칼로리</td>
            <td>{{ user_info.kcal_min }} - {{ user_info.kcal_max }}</td>
            <td>{{ total_kcal|floatformat:2 }}</td>
            <td>
                {% if total_kcal %}
                    {% if total_kcal < user_info.kcal_min %}
                        <a class="emoji-button" onclick="toggleChart('kcal')">&#x1F628;</a>
                    {% elif total_kcal > user_info.kcal_max %}
                        <a class="emoji-button" onclick="toggleChart('kcal')">&#x1F621;</a>
                    {% else %}
                        <a class="emoji-button" onclick="toggleChart('kcal')">&#x1F60D;</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>탄수화물</td>
            <td>{{ user_info.carbohydrate_min }} - {{ user_info.carbohydrate_max }}</td>
            <td>{{ total_carbohydrate|floatformat:2 }}</td>
            <td>
                {% if total_carbohydrate %}
                    {% if total_carbohydrate < user_info.carbohydrate_min %}
                        <a class="emoji-button" onclick="toggleChart('carbohydrate')">&#x1F628;</a>
                    {% elif total_carbohydrate > user_info.carbohydrate_max %}
                        <a class="emoji-button" onclick="toggleChart('carbohydrate')">&#x1F621;</a>
                    {% else %}
                        <a class="emoji-button" onclick="toggleChart('carbohydrate')">&#x1F60D;</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>단백질</td>
            <td>{{ user_info.protein_min }} - {{ user_info.protein_max }}</td>
            <td>{{ total_protein|floatformat:2 }}</td>
            <td>
                {% if total_protein %}
                    {% if total_protein < user_info.protein_min %}
                        <a class="emoji-button" onclick="toggleChart('protein')">&#x1F628;</a>
                    {% elif total_protein > user_info.protein_max %}
                        <a class="emoji-button" onclick="toggleChart('protein')">&#x1F621;</a>
                    {% else %}
                        <a class="emoji-button" onclick="toggleChart('protein')">&#x1F60D;</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>지방</td>
            <td>{{ user_info.fat_min }} - {{ user_info.fat_max }}</td>
            <td>{{ total_fat|floatformat:2 }}</td>
            <td>
                {% if total_fat %}
                    {% if total_fat < user_info.fat_min %}
                        <a class="emoji-button" onclick="toggleChart('fat')">&#x1F628;</a>
                    {% elif total_fat > user_info.fat_max %}
                        <a class="emoji-button" onclick="toggleChart('fat')">&#x1F621;</a>
                    {% else %}
                        <a class="emoji-button" onclick="toggleChart('fat')">&#x1F60D;</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>나트륨</td>
            <td>{{ user_info.sodium }}</td>
            <td>{{ total_sodium|floatformat:2 }}</td>
            <td>
                {% if total_sodium %}
                    {% if total_sodium < user_info.sodium %}
                        <a class="emoji-button" onclick="toggleChart('sodium')">&#x1F60D;</a>
                    {% else %}
                        <a class="emoji-button" onclick="toggleChart('sodium')">&#x1F621;</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>당류</td>
            <td>{{ user_info.sugar }}</td>
            <td>{{ total_sugar|floatformat:2 }}</td>
            <td>
                {% if total_sugar %}
                {% if total_sugar < user_info.sugar %}
                    <a class="emoji-button" onclick="toggleChart('sugar')">&#x1F60D;</a>

                {% else %}
                    <a class="emoji-button" onclick="toggleChart('sugar')">&#x1F621;</a>
                {% endif %}
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

<div id="chart" style="width: 370px; height: 300px;"></div>

<script type="text/javascript">
    var chartDom = document.getElementById('chart');
    var myChart = echarts.init(chartDom);
    var currentChart = null; 

    var kcalValue = {{ total_kcal }};
    var carbohydrateValue = {{ total_carbohydrate }};
    var fatValue = {{ total_fat }};
    var proteinValue = {{ total_protein }};
    var sodiumValue = {{ total_sodium }};
    var sugarValue = {{ total_sugar }};

    function toggleChart(chartType) {
        if (currentChart === chartType) {
            myChart.clear();
            chartDom.style.display = 'none';
            currentChart = null;
        } else {
            if (chartType === 'kcal') {
                drawChart('칼로리', kcalValue, 'kcal', {{ user_info.kcal_max|safe }});
            } else if (chartType === 'carbohydrate') {
                drawChart('탄수화물', carbohydrateValue, 'g', {{ user_info.carbohydrate_max|safe }});
            } else if (chartType === 'fat') {
                drawChart('지방', fatValue, 'g', {{ user_info.fat_max|safe }});
            } else if (chartType === 'protein') {
                drawChart('단백질', proteinValue, 'g', {{ user_info.protein_max|safe }});
            } else if (chartType === 'sodium') {
                drawChart('나트륨', sodiumValue, 'mg', {{ user_info.sodium|safe }});
            } else if (chartType === 'sugar') {
                drawChart('당류', sugarValue, 'g', {{ user_info.sugar|safe }});
            }
            currentChart = chartType;
        }
    }

    function drawChart(label, value, unit, maxValue) {
        myChart.setOption({
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c}' + unit + ' ({d}%)',
                position: ['50%', '50%']
            },
            series: [
                {
                    name: '섭취량',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '50%'],
                    data: [
                                {
                            value: value,
                            name: label,
                            itemStyle: {
                                color: 'orange' 
                            }
                        },
                        {
                            value: maxValue - value,
                            name: '남은 양',
                            itemStyle: {
                                color: 'green' 
                            }
                        }
                    ],
                    label: {
                        formatter: function (params) {
                            if (params.name === label) {
                                return '{a|' + params.name + '}\n{b|' + params.value + unit + '}';
                            } else {
                                return '{a|' + params.name + '}\n{b|' + params.value + unit + '}';
                            }
                        },
                        rich: {
                            a: {
                                fontSize: 14,
                                fontWeight: 'bold'
                            },
                            b: {
                                fontSize: 14,
                                fontWeight: 'bold'
                            },
                            c: {
                                fontSize: 14,
                                color: '#888'
                            }
                        }
                    },
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        });

        chartDom.style.display = 'block';
    }
    function gomenu() {
            window.location.href = '/user/menu/';
        }
</script>
</div>
</body>
</html>
