{% load bootstrap4 %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: Login :::</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        .vw-100 {
            color: #3498DB;
            font-weight: bold;
        }
        .btn {
            border-radius: 16px;
            font-weight: bold;
        }
        body {
            background-color: #EDEDED;
        }
        .form-container {
            max-width: 400px;
            width: 100%;
            
        }
   </style>
</head>
<body>
    <h1 class="display-1 text-center vw-100"><br>반가워요!</h1>
    </br></br></br>
    <div class="container"> 
        <div class="form-container"> 
            <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="d-grid gap-2 d-md-block">
            </br></br>
            <button class="btn btn-secondary" type="submit" style="--bs-btn-font-size: 4rem; background-color: #336699;">들어가기</button></br>            
            <button class="btn btn-secondary" style="--bs-btn-font-size: 4rem; background-color: #3498DB;" onclick="UserPage()">뒤로가기</button>
        </form>
        </div>
    </div>
    </div>
    </br></br>
    <script>
        function UserPage() {
        window.location.href = "/user/";
    }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>
